.section {
  margin-bottom: 48px;

  @include xl-block {
    margin-bottom: 120px;
  }
}

.btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  gap: 12px;

  svg {
    width: 20px;
    height: 20px;

    @include xl-block {
      width: 24px;
      height: 24px;
    }
  }

  @include xl-block {
    font-size: 20px;
    line-height: 28px;
  }
}
