.hero {
  position: relative;
  padding-top: 102px;
  background-image: url("/img/index/hero-mobile.jpeg");

  @include xl-block {
    background-image: url("/img/index/hero.jpeg");
  }
}

@supports (background-image: url("/img/index/hero-mobile.webp")) {
  .hero {
    background-image: url("/img/index/hero-mobile.webp");

    @include xl-block {
      background-image: url("/img/index/hero.webp");
    }
  }
}
