.image {
  position: absolute;
  left: 0;
  top: -60px;
  bottom: 25px;
  z-index: -1;
  width: 100%;

  &.mobile {
    @include xl-block {
      display: none;
    }
  }

  &.desktop {
    display: none;

    @include xl-block {
      display: block;
    }
  }

  @include xl-block {
    top: 0;
  }
}

.gradient {
  top: 0;
}
