.section {
  position: relative;
  z-index: 2;
  padding-top: 102px;
  padding-bottom: 181px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include xl-block {
    margin-top: 72.5px;
    padding-top: 0;
    padding-bottom: 149px;
  }
}
