.faq {
  margin-bottom: 25px;

  @include xl-block {
    margin-bottom: 102px;
  }
}

h2.title {
  margin-bottom: 32px;
  text-align: center;

  @include xl-block {
    margin-bottom: 60px;
  }
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include xl-block {
    gap: 24px;
  }
}

.mostFrequently {
  display: grid;
  margin-bottom: 20px;

  > article {
    &::after {
      background: none;
    }
  }

  @include xl-block {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
    gap: 24px;
  }
}

.collapses {
  @include xl-block {
    div {
      max-width: 921px;
    }
  }
}
