.about {
  margin-bottom: 72px;

  p {
    max-width: 1063px;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    white-space: break-spaces;

    @include xl-block {
      font-size: 24px;
      line-height: 36px;
    }
  }

  @include xl-block {
    margin-bottom: 100px;
  }
}
