.social {
  display: flex;
  margin-bottom: var(--space-xl);
  gap: var(--space-s);
}

.item {

}

.item a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  color: var(--color-white);
}
